@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header {
  background-color: #253380;
}
header .head-top {
  border-bottom: 1px solid #00a2c2;
  padding: 3px;
}
header .head-top .container .row .head-contact {
  display: flex;
  align-items: center;
  gap: 25px;
}
header .head-top .container .row .head-contact .tel {
  cursor: pointer;
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
header .head-top .container .row .head-contact .tel:hover {
  color: #00a2c2;
}
header .head-top .container .row .head-contact .email-contact {
  cursor: pointer;
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
header .head-top .container .row .head-contact .email-contact:hover {
  color: #00a2c2;
}
header .head-top .container .row .language {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
}
header .head-top .container .row .language .stores {
  cursor: pointer;
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
header .head-top .container .row .language .stores:hover {
  color: #00a2c2;
}
header .head-top .container .row .language .united {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 13px;
  position: relative;
  color: #ffffff;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
header .head-top .container .row .language .united:hover {
  color: #00a2c2;
}
header .head-top .container .row .language .united .bi-chevron-down {
  font-size: 10px;
}
header .head-top .container .row .language .united .united-hover {
  list-style: none;
  position: absolute;
  top: 31px;
  z-index: 9999;
  left: -35px;
  transition: 0.3s ease-in-out;
  display: none;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  padding: 16px 14px;
}
header .head-top .container .row .language .united .united-hover .element2 {
  color: #555555;
  padding-top: 3px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform: translateX(0px);
}
header .head-top .container .row .language .united .united-hover .element2:hover {
  transform: translateX(7px);
}
header .head-top .container .row .language .united .united-active {
  display: block;
}
header .head-top .container .row .language .english {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
header .head-top .container .row .language .english:hover {
  color: #00a2c2;
}
header .head-top .container .row .language .english .bi-chevron-down {
  font-size: 10px;
}
header .head-top .container .row .language .english .eng-hover {
  list-style: none;
  position: absolute;
  top: 31px;
  z-index: 9999;
  left: -51px;
  transition: 0.3s ease-in-out;
  display: none;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  padding: 21px 33px;
}
header .head-top .container .row .language .english .eng-hover .element1 {
  color: #555555;
  padding-top: 3px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform: translateX(0px);
}
header .head-top .container .row .language .english .eng-hover .element1:hover {
  transform: translateX(7px);
}
header .head-top .container .row .language .english .active {
  display: block;
}
header nav .nav-top .container .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .nav-top .container .row .page-logo {
  width: 146px;
  height: 43px;
}
header nav .nav-top .container .row .page-logo a {
  list-style: none;
}
header nav .nav-top .container .row .page-logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
header nav .nav-top .container .row form {
  display: flex;
  align-items: center;
  position: relative;
}
header nav .nav-top .container .row form .search {
  color: #555555;
  font-size: 13px;
  height: 45px;
  padding-left: 2.5rem;
  padding-right: 23rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  border-radius: 30px 0px 0px 30px;
  border: none;
}
header nav .nav-top .container .row form .submit {
  background-color: #00a2c2;
  font-family: "Poppins", sans-serif;
  border-radius: 0px 30px 30px 0px;
  border: none;
  color: #ffffff;
  height: 45px;
  font-size: 13px;
  font-weight: 400;
  padding: 14px;
}
header nav .nav-top .container .row form .bi-search {
  color: #555555;
  position: absolute;
  top: 11px;
  left: 12px;
  font-size: 17px;
}
header nav .nav-top .container .row .nav-left {
  display: flex;
  align-items: baseline;
  gap: 39px;
  justify-content: center;
}
header nav .nav-top .container .row .nav-left .acount {
  display: flex;
  align-items: flex-start;
  gap: 7px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
header nav .nav-top .container .row .nav-left .acount:hover .bi-person {
  color: #00a2c2;
}
header nav .nav-top .container .row .nav-left .acount .bi-person {
  color: #ffffff;
  font-size: 28px;
  transition: 0.3s ease-in-out;
}
header nav .nav-top .container .row .nav-left .acount .acountorlogin .login {
  color: #fff;
  font-size: 12px;
  filter: opacity(0.5);
  display: block;
}
header nav .nav-top .container .row .nav-left .acount .acountorlogin .account {
  color: #fff;
  font-size: 14px;
  display: block;
}
header nav .nav-top .container .row .nav-left .heart {
  position: relative;
  cursor: pointer;
}
header nav .nav-top .container .row .nav-left .heart:hover .bi-heart {
  color: #00a2c2;
}
header nav .nav-top .container .row .nav-left .heart .bi-heart {
  color: #ffffff;
  font-size: 25px;
  transition: 0.3s ease-in-out;
}
header nav .nav-top .container .row .nav-left .heart .zero {
  color: #fff;
  font-size: 13px;
  background-color: #00a2c2;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 15px;
}
header nav .nav-top .container .row .nav-left .shop {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 13px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
header nav .nav-top .container .row .nav-left .shop:hover .bi-cart {
  color: #00a2c2;
}
header nav .nav-top .container .row .nav-left .shop .bi-cart {
  color: #ffffff;
  font-size: 28px;
  transition: 0.3s ease-in-out;
}
header nav .nav-top .container .row .nav-left .shop .acountorlogin .login {
  color: #fff;
  font-size: 12px;
  filter: opacity(0.5);
  display: block;
}
header nav .nav-top .container .row .nav-left .shop .acountorlogin .account {
  color: #fff;
  font-size: 14px;
  display: block;
}
header nav .nav-top .container .row .nav-left .shop .zero1 {
  color: #fff;
  font-size: 13px;
  background-color: #00a2c2;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 15px;
}
header nav .nav-bottom {
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
}
header nav .nav-bottom .container .row .departments {
  display: flex;
  align-items: end;
  border-right: 1px solid #e3e3e3;
  width: 238px;
  gap: 54px;
}
header nav .nav-bottom .container .row .departments h3 {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  margin: 0;
  font-weight: 600;
}
header nav .nav-bottom .container .row .departments h3 .bi-list {
  font-size: 22px;
}
header nav .nav-bottom .container .row .departments .bi-chevron-down {
  font-size: 15px;
}
header nav .nav-bottom .container .row ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 39px;
}
header nav .nav-bottom .container .row ul .home {
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: baseline;
  gap: 6px;
}
header nav .nav-bottom .container .row ul .home:hover {
  color: #00a2c2;
}
header nav .nav-bottom .container .row ul .home .bi-chevron-down {
  font-size: 12px;
}
header nav .nav-bottom .container .row ul .shop {
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: baseline;
  gap: 6px;
}
header nav .nav-bottom .container .row ul .shop:hover {
  color: #00a2c2;
}
header nav .nav-bottom .container .row ul .shop .bi-chevron-down {
  font-size: 12px;
}
header nav .nav-bottom .container .row ul .product {
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: baseline;
  gap: 6px;
}
header nav .nav-bottom .container .row ul .product:hover {
  color: #00a2c2;
}
header nav .nav-bottom .container .row ul .product .bi-chevron-down {
  font-size: 12px;
}
header nav .nav-bottom .container .row ul .blog {
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: baseline;
  gap: 6px;
}
header nav .nav-bottom .container .row ul .blog:hover {
  color: #00a2c2;
}
header nav .nav-bottom .container .row ul .blog .bi-chevron-down {
  font-size: 12px;
}
header nav .nav-bottom .container .row ul .page {
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: baseline;
  gap: 6px;
}
header nav .nav-bottom .container .row ul .page:hover {
  color: #00a2c2;
}
header nav .nav-bottom .container .row ul .page .bi-chevron-down {
  font-size: 12px;
}
header nav .nav-bottom .container .row ul .buy {
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
header nav .nav-bottom .container .row ul .buy:hover {
  color: #00a2c2;
}
header nav .nav-bottom .container .row .recently {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
header nav .nav-bottom .container .row .recently:hover .bi-clock {
  color: #00a2c2;
}
header nav .nav-bottom .container .row .recently:hover h4 {
  color: #00a2c2;
}
header nav .nav-bottom .container .row .recently .bi-clock {
  color: #111111;
  font-size: 17px;
  transition: 0.3s ease-in-out;
}
header nav .nav-bottom .container .row .recently h4 {
  color: #111111;
  font-size: 15px;
  font-weight: 400;
  transition: 0.3s ease-in-out;
  margin: 0;
}

main #inner {
  padding-top: 3rem;
}
main #inner .container .row .deal-text {
  border-bottom: 1px solid #e5e8ec;
  margin-bottom: 2rem;
}
main #inner .container .row .deal-text p {
  color: #111111;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 2px;
}
main #inner .container .row .cyber .cyber-img {
  width: 100%;
  height: 248px;
  overflow: hidden;
  border-radius: 8px;
}
main #inner .container .row .cyber .cyber-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  transform: scale(1);
}
main #inner .container .row .cyber .cyber-img img:hover {
  transform: scale(1.1);
}
main #inner .container .row .cyber .cyber-text p {
  color: #111111;
  font-size: 16px;
  font-weight: 600;
  padding-top: 22px;
  margin: 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main #inner .container .row .cyber .cyber-text p:hover {
  color: #00a2c2;
}
main #inner .container .row .cyber .cyber-text h3 {
  color: #555555;
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
}
main #shopify {
  border-top: 1px solid #e5e8ec;
  margin-top: 4rem;
}
main #shopify .container .row .fast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-right: 1px solid #e5e8ec;
  margin-top: 40px;
}
main #shopify .container .row .fast .fast-img {
  width: 36px;
  height: 36px;
}
main #shopify .container .row .fast .fast-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main #shopify .container .row .fast .fast-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
main #shopify .container .row .fast .fast-text p {
  color: #111111;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}
main #shopify .container .row .fast .fast-text h2 {
  color: #555555;
  font-size: 14px;
  font-weight: 500;
}
main #products .container .row .elements {
  display: flex;
  align-items: center;
  gap: 37px;
  padding-top: 36px;
}
main #products .container .row .elements .product1 .product-img {
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 50%;
}
main #products .container .row .elements .product1 .product-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transform: scale(1);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main #products .container .row .elements .product1 .product-img img:hover {
  transform: scale(1.1);
}
main #products .container .row .elements .product1 .product-text {
  padding-top: 8px;
}
main #products .container .row .elements .product1 .product-text p {
  color: #111111;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main #products .container .row .elements .product1 .product-text p:hover {
  color: #00a2c2;
}
main #products .container .row .elements .product1 .product-text h2 {
  color: #555555;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
main #thisweek .container .row .this-text {
  border-bottom: 1px solid #e5e8ec;
  margin-bottom: 2rem;
  margin-top: 3rem;
}
main #thisweek .container .row .this-text p {
  color: #111111;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 2px;
}
main #trending .container .row .cards {
  position: relative;
  overflow: hidden;
}
main #trending .container .row .cards .cards-img {
  width: 100%;
  height: 210px;
  position: static;
  transition: 0.3s ease-in-out;
}
main #trending .container .row .cards .cards-img:hover .img-hover {
  display: block;
}
main #trending .container .row .cards .cards-img:hover .img-icon {
  right: 7px;
}
main #trending .container .row .cards .cards-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  cursor: pointer;
}
main #trending .container .row .cards .cards-img .img-hover {
  overflow: hidden;
  position: absolute;
  top: 4px;
  display: none;
  transition: 0.3s ease-in-out;
}
main #trending .container .row .cards .cards-img .img-hover img {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform: scale(1);
}
main #trending .container .row .cards .cards-img .img-hover img:hover {
  transform: scale(1.2);
}
main #trending .container .row .cards .cards-img .img-icon {
  position: absolute;
  top: 11px;
  right: -40px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  gap: 6px;
}
main #trending .container .row .cards .cards-img .img-icon p {
  margin: 0;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main #trending .container .row .cards .cards-img .img-icon p:hover {
  background-color: #111111;
}
main #trending .container .row .cards .cards-img .img-icon p:hover .bi-heart {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main #trending .container .row .cards .cards-img .img-icon p:hover .bi-heart:hover {
  color: #fff;
}
main #trending .container .row .cards .cards-img .img-icon p:hover .bi-collection {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main #trending .container .row .cards .cards-img .img-icon p:hover .bi-collection:hover {
  color: #fff;
}
main #trending .container .row .cards .cards-img .img-icon p:hover .bi-eye {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main #trending .container .row .cards .cards-img .img-icon p:hover .bi-eye:hover {
  color: #fff;
}
main #trending .container .row .cards .cards-img .img-icon p:hover .bi-cart3 {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main #trending .container .row .cards .cards-img .img-icon p:hover .bi-cart3:hover {
  color: #fff;
}
main #trending .container .row .cards .cards-text {
  padding-top: 20px;
}
main #trending .container .row .cards .cards-text p {
  margin: 0;
  color: #919191;
  font-size: 13px;
  font-weight: 500;
}
main #trending .container .row .cards .cards-text h2 {
  color: #111111;
  font-size: 16px;
  margin: 0;
  font-weight: 500;
  padding-top: 4px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main #trending .container .row .cards .cards-text h2:hover {
  color: #00a2c2;
}
main #trending .container .row .cards .cards-text .product-star .bi-star-fill {
  color: #ffb800;
  font-size: 12px;
}
main #trending .container .row .cards .cards-text .product-price {
  padding-top: 14px;
}
main #trending .container .row .cards .cards-text .product-price span {
  color: #00a2c2;
  font-size: 17px;
  font-weight: 500;
}
main #trending .container .row .cards .cards-text .product-price del {
  color: #919191;
  font-size: 14px;
}
main #trending .container .row .cards h3 {
  margin: 0;
  background-color: #00a2c2;
  color: #fff;
  font-size: 15px;
  display: inline-block;
  padding: 2px 9px;
  border-radius: 8px;
  position: absolute;
  top: 16px;
  left: 17px;
}
main #sale {
  padding-top: 3rem;
}
main #sale .container .row .super-sale {
  position: relative;
}
main #sale .container .row .super-sale .sale-img {
  width: 100%;
  height: 185px;
  overflow: hidden;
}
main #sale .container .row .super-sale .sale-img:hover img {
  transform: scale(1.3);
}
main #sale .container .row .super-sale .sale-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
  transform: scale(1);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main #sale .container .row .super-sale .sale-text {
  position: absolute;
  top: 3rem;
  left: 3rem;
}
main #sale .container .row .super-sale .sale-text p {
  color: #111111;
  margin: 0;
  font-size: 17px;
  font-weight: 600;
}
main #sale .container .row .super-sale .sale-text h2 {
  color: #111111;
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  padding-top: 7px;
}
main #sale .container .row .super-sale .sale-text h3 {
  margin: 0;
  color: #111111;
  font-size: 14px;
  font-weight: 400;
  padding-top: 25px;
  position: relative;
}
main #sale .container .row .super-sale .sale-text h3::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 27px;
  background-color: #111111;
}
main #super .container .row .laptop-img {
  width: 100%;
  height: 705px;
}
main #super .container .row .laptop-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main #super .container .row .cards {
  position: relative;
  overflow: hidden;
}
main #super .container .row .cards .cards-img {
  width: 100%;
  height: 210px;
  position: static;
  transition: 0.3s ease-in-out;
}
main #super .container .row .cards .cards-img:hover .img-hover {
  display: block;
}
main #super .container .row .cards .cards-img:hover .img-icon {
  right: 7px;
}
main #super .container .row .cards .cards-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  cursor: pointer;
}
main #super .container .row .cards .cards-img .img-hover {
  overflow: hidden;
  position: absolute;
  top: 4px;
  display: none;
  transition: 0.3s ease-in-out;
}
main #super .container .row .cards .cards-img .img-hover img {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform: scale(1);
}
main #super .container .row .cards .cards-img .img-hover img:hover {
  transform: scale(1.2);
}
main #super .container .row .cards .cards-img .img-icon {
  position: absolute;
  top: 11px;
  right: -40px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  gap: 6px;
}
main #super .container .row .cards .cards-img .img-icon p {
  margin: 0;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main #super .container .row .cards .cards-img .img-icon p:hover {
  background-color: #111111;
}
main #super .container .row .cards .cards-img .img-icon p:hover .bi-heart {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main #super .container .row .cards .cards-img .img-icon p:hover .bi-heart:hover {
  color: #fff;
}
main #super .container .row .cards .cards-img .img-icon p:hover .bi-collection {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main #super .container .row .cards .cards-img .img-icon p:hover .bi-collection:hover {
  color: #fff;
}
main #super .container .row .cards .cards-img .img-icon p:hover .bi-eye {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main #super .container .row .cards .cards-img .img-icon p:hover .bi-eye:hover {
  color: #fff;
}
main #super .container .row .cards .cards-img .img-icon p:hover .bi-cart3 {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main #super .container .row .cards .cards-img .img-icon p:hover .bi-cart3:hover {
  color: #fff;
}
main #super .container .row .cards .cards-text {
  padding-top: 20px;
}
main #super .container .row .cards .cards-text p {
  margin: 0;
  color: #919191;
  font-size: 13px;
  font-weight: 500;
}
main #super .container .row .cards .cards-text h2 {
  color: #111111;
  font-size: 16px;
  margin: 0;
  font-weight: 500;
  padding-top: 4px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main #super .container .row .cards .cards-text h2:hover {
  color: #00a2c2;
}
main #super .container .row .cards .cards-text .product-star .bi-star-fill {
  color: #ffb800;
  font-size: 12px;
}
main #super .container .row .cards .cards-text .product-price {
  padding-top: 14px;
}
main #super .container .row .cards .cards-text .product-price span {
  color: #00a2c2;
  font-size: 17px;
  font-weight: 500;
}
main #super .container .row .cards .cards-text .product-price del {
  color: #919191;
  font-size: 14px;
}
main #super .container .row .cards h3 {
  margin: 0;
  background-color: #00a2c2;
  color: #fff;
  font-size: 15px;
  display: inline-block;
  padding: 2px 9px;
  border-radius: 8px;
  position: absolute;
  top: 16px;
  left: 17px;
}

footer {
  background-color: #f1f5f6;
  border-top: 1px solid #e5e8ec;
  padding-top: 60px;
  margin-top: 3rem;
}
footer .footone .container .row {
  border-bottom: 1px solid #e5e8ec;
  padding-bottom: 5rem;
}
footer .footone .container .row .foot-top p {
  color: #111111;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
footer .footone .container .row .foot-top .order {
  color: #555555;
  font-size: 14px;
  font-weight: 500;
  padding-top: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footone .container .row .foot-top .updates {
  color: #555555;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footone .container .row .foot-top form {
  display: flex;
  align-items: center;
  gap: 17px;
  justify-content: center;
  padding-top: 28px;
}
footer .footone .container .row .foot-top form .emails {
  font-size: 13px;
  padding: 12px 17px;
  border: 1px solid #e5e8ec;
  color: #555555;
  border-radius: 30px;
  height: 50px;
  width: 424px;
}
footer .footone .container .row .foot-top form .inputactive {
  border: 1px solid #111111;
}
footer .footone .container .row .foot-top form .sub {
  border-radius: 30px;
  height: 50px;
  font-size: 13px;
  padding: 12px 17px;
  background: #00a2c2;
  border: 1px solid #00a2c2;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  width: 130px;
}
footer .footone .container .row .contact {
  padding-top: 4rem;
}
footer .footone .container .row .contact p {
  color: #111111;
  font-size: 16px;
  font-weight: 600;
}
footer .footone .container .row .contact h2 {
  color: #555555;
  font-size: 14px;
  font-weight: 500;
  padding-top: 9px;
}
footer .footone .container .row .contact h3 {
  font-size: 29px;
  color: #00a2c2;
  cursor: pointer;
}
footer .footone .container .row .contact h4 {
  color: #555555;
  font-size: 14px;
  font-weight: 500;
  padding-top: 20px;
  margin: 0;
}
footer .footone .container .row .contact h5 {
  color: #555555;
  font-size: 14px;
  font-weight: 500;
  padding-top: 9px;
}
footer .footone .container .row .contact .social-media {
  display: flex;
  align-items: center;
  gap: 13px;
  padding-top: 12px;
}
footer .footone .container .row .contact .social-media h6 {
  width: 32px;
  height: 32px;
  border: 1px solid #555555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
footer .footone .container .row .contact .social-media h6:hover {
  border: 1px solid #111111;
}
footer .footone .container .row .contact .social-media h6 .bi-twitter {
  color: #555555;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}
footer .footone .container .row .contact .social-media h6 .bi-twitter:hover {
  color: #111111;
}
footer .footone .container .row .contact .social-media h6 {
  width: 32px;
  height: 32px;
  border: 1px solid #555555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
footer .footone .container .row .contact .social-media h6:hover {
  border: 1px solid #111111;
}
footer .footone .container .row .contact .social-media h6 .bi-facebook {
  color: #555555;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}
footer .footone .container .row .contact .social-media h6 .bi-facebook:hover {
  color: #111111;
}
footer .footone .container .row .contact .social-media h6 {
  width: 32px;
  height: 32px;
  border: 1px solid #555555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
footer .footone .container .row .contact .social-media h6:hover {
  border: 1px solid #111111;
}
footer .footone .container .row .contact .social-media h6 .bi-pinterest {
  color: #555555;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}
footer .footone .container .row .contact .social-media h6 .bi-pinterest:hover {
  color: #111111;
}
footer .footone .container .row .contact .social-media h6 {
  width: 32px;
  height: 32px;
  border: 1px solid #555555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
footer .footone .container .row .contact .social-media h6:hover {
  border: 1px solid #111111;
}
footer .footone .container .row .contact .social-media h6 .bi-instagram {
  color: #555555;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}
footer .footone .container .row .contact .social-media h6 .bi-instagram:hover {
  color: #111111;
}
footer .footone .container .row .contact .social-media h6 {
  width: 32px;
  height: 32px;
  border: 1px solid #555555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
footer .footone .container .row .contact .social-media h6:hover {
  border: 1px solid #111111;
}
footer .footone .container .row .contact .social-media h6 .bi-youtube {
  color: #555555;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}
footer .footone .container .row .contact .social-media h6 .bi-youtube:hover {
  color: #111111;
}
footer .footone .container .row .contact .social-media h6 {
  width: 32px;
  height: 32px;
  border: 1px solid #555555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
footer .footone .container .row .contact .social-media h6:hover {
  border: 1px solid #111111;
}
footer .footone .container .row .contact .social-media h6 .bi-tiktok {
  color: #555555;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}
footer .footone .container .row .contact .social-media h6 .bi-tiktok:hover {
  color: #111111;
}
footer .footone .container .row .company {
  padding-top: 4rem;
}
footer .footone .container .row .company p {
  color: #111111;
  font-size: 16px;
  font-weight: 600;
}
footer .footone .container .row .company ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
footer .footone .container .row .company ul li {
  color: #555555;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform: translateX(0px);
}
footer .footone .container .row .company ul li:hover {
  color: #111111;
  transform: translateX(16px);
}
footer .foottwo .container .row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
footer .foottwo .container .row .footlang {
  display: flex;
  align-items: center;
  gap: 27px;
}
footer .foottwo .container .row .footlang .englang {
  color: #555555;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}
footer .foottwo .container .row .footlang .englang .bi-chevron-down {
  font-size: 12px;
}
footer .foottwo .container .row .footlang .unilang {
  color: #555555;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}
footer .foottwo .container .row .footlang .unilang .bi-chevron-down {
  font-size: 12px;
}
footer .foottwo .container .row .reserved {
  text-align: center;
}
footer .foottwo .container .row .reserved p {
  color: #555555;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}
footer .foottwo .container .row .pay-img {
  width: 100%;
  height: 30px;
}
footer .foottwo .container .row .pay-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.carousel-inner .carousel-item {
  height: 440px;
}
.carousel-inner .carousel-item img {
  height: 100%;
}
.carousel-inner .carousel-item .carousel-text {
  position: absolute;
  z-index: 9999;
  top: 6rem;
  left: 9rem;
}
.carousel-inner .carousel-item .carousel-text p {
  color: white;
  font-size: 41px;
  margin: 0;
  font-weight: 600;
}
.carousel-inner .carousel-item .carousel-text h2 {
  color: white;
  font-size: 41px;
  margin: 0;
  font-weight: 600;
}
.carousel-inner .carousel-item .carousel-text h4 {
  color: white;
  font-size: 15px;
  margin: 0;
  padding-top: 11px;
}
.carousel-inner .carousel-item .carousel-text h3 {
  color: black;
  font-size: 14px;
  background-color: #fff;
  display: inline-block;
  padding: 18px 61px;
  border-radius: 15px;
  margin-top: 3rem;
}

.carousel:hover .carousel-control-prev {
  display: block;
  transition: 0.5s ease-in-out;
}
.carousel:hover .carousel-control-next {
  display: block;
  transition: 0.5s ease-in-out;
}
.carousel .carousel-control-prev {
  position: absolute;
  left: -50px;
  display: none;
  transition: 0.5s ease-in-out;
}
.carousel .carousel-control-prev .carousel-control-prev-icon {
  background-color: black;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-size: 40% 40%;
}
.carousel .carousel-control-next {
  position: absolute;
  display: none;
  right: -50px;
}
.carousel .carousel-control-next .carousel-control-next-icon {
  background-color: black;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-size: 40% 40%;
}

.actice-nav {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  background-color: #253380 !important;
  animation-name: fadeInUp;
  animation-duration: 1s;
  z-index: 9999;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    top: -50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
.to-top {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  animation-name: fadeInUp;
  animation-duration: 1s;
  z-index: 7777;
}
.to-top svg {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */