@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header {
  background-color: #253380;
}
header .head-top {
  border-bottom: 1px solid #00a2c2;
  padding: 3px;
}
header .head-top .container .row .head-contact {
  display: flex;
  align-items: center;
  gap: 25px;
}
header .head-top .container .row .head-contact .tel {
  cursor: pointer;
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
header .head-top .container .row .head-contact .tel:hover {
  color: #00a2c2;
}
header .head-top .container .row .head-contact .email-contact {
  cursor: pointer;
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
header .head-top .container .row .head-contact .email-contact:hover {
  color: #00a2c2;
}
header .head-top .container .row .language {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
}
header .head-top .container .row .language .stores {
  cursor: pointer;
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
header .head-top .container .row .language .stores:hover {
  color: #00a2c2;
}
header .head-top .container .row .language .united {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
header .head-top .container .row .language .united:hover {
  color: #00a2c2;
}
header .head-top .container .row .language .united .bi-chevron-down {
  font-size: 10px;
}
header .head-top .container .row .language .english {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
header .head-top .container .row .language .english:hover {
  color: #00a2c2;
}
header .head-top .container .row .language .english .bi-chevron-down {
  font-size: 10px;
}
header .head-top .container .row .language .english .eng-hover {
  list-style: none;
  position: absolute;
  top: 31px;
  z-index: 9999;
  left: -51px;
  transition: 0.3s ease-in-out;
  display: none;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
  padding: 21px 33px;
}
header .head-top .container .row .language .english .eng-hover .element1 {
  color: #555555;
  padding-top: 3px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  transform: translateX(0px);
}
header .head-top .container .row .language .english .eng-hover .element1:hover {
  transform: translateX(7px);
}
header .head-top .container .row .language .english .active {
  display: block;
}
header nav .nav-top .container .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .nav-top .container .row .page-logo {
  width: 146px;
  height: 43px;
}
header nav .nav-top .container .row .page-logo a {
  list-style: none;
}
header nav .nav-top .container .row .page-logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
header nav .nav-top .container .row form {
  display: flex;
  align-items: center;
  position: relative;
}
header nav .nav-top .container .row form .search {
  color: #555555;
  font-size: 13px;
  height: 45px;
  padding-left: 2.5rem;
  padding-right: 23rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  border-radius: 30px 0px 0px 30px;
  border: none;
}
header nav .nav-top .container .row form .submit {
  background-color: #00a2c2;
  font-family: "Poppins", sans-serif;
  border-radius: 0px 30px 30px 0px;
  border: none;
  color: #ffffff;
  height: 45px;
  font-size: 13px;
  font-weight: 400;
  padding: 14px;
}
header nav .nav-top .container .row form .bi-search {
  color: #555555;
  position: absolute;
  top: 11px;
  left: 12px;
  font-size: 17px;
}
header nav .nav-top .container .row .nav-left {
  display: flex;
  align-items: baseline;
  gap: 39px;
  justify-content: center;
}
header nav .nav-top .container .row .nav-left .acount {
  display: flex;
  align-items: flex-start;
  gap: 7px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
header nav .nav-top .container .row .nav-left .acount:hover .bi-person {
  color: #00a2c2;
}
header nav .nav-top .container .row .nav-left .acount .bi-person {
  color: #ffffff;
  font-size: 28px;
  transition: 0.3s ease-in-out;
}
header nav .nav-top .container .row .nav-left .acount .acountorlogin .login {
  color: #fff;
  font-size: 12px;
  filter: opacity(0.5);
  display: block;
}
header nav .nav-top .container .row .nav-left .acount .acountorlogin .account {
  color: #fff;
  font-size: 14px;
  display: block;
}
header nav .nav-top .container .row .nav-left .heart {
  position: relative;
  cursor: pointer;
}
header nav .nav-top .container .row .nav-left .heart:hover .bi-heart {
  color: #00a2c2;
}
header nav .nav-top .container .row .nav-left .heart .bi-heart {
  color: #ffffff;
  font-size: 25px;
  transition: 0.3s ease-in-out;
}
header nav .nav-top .container .row .nav-left .heart .zero {
  color: #fff;
  font-size: 13px;
  background-color: #00a2c2;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 15px;
}
header nav .nav-top .container .row .nav-left .shop {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 13px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
header nav .nav-top .container .row .nav-left .shop:hover .bi-cart {
  color: #00a2c2;
}
header nav .nav-top .container .row .nav-left .shop .bi-cart {
  color: #ffffff;
  font-size: 28px;
  transition: 0.3s ease-in-out;
}
header nav .nav-top .container .row .nav-left .shop .acountorlogin .login {
  color: #fff;
  font-size: 12px;
  filter: opacity(0.5);
  display: block;
}
header nav .nav-top .container .row .nav-left .shop .acountorlogin .account {
  color: #fff;
  font-size: 14px;
  display: block;
}
header nav .nav-top .container .row .nav-left .shop .zero1 {
  color: #fff;
  font-size: 13px;
  background-color: #00a2c2;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 15px;
}
header nav .nav-bottom {
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
}
header nav .nav-bottom .container .row .departments {
  display: flex;
  align-items: end;
  border-right: 1px solid #e3e3e3;
  width: 238px;
  gap: 54px;
}
header nav .nav-bottom .container .row .departments h3 {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  margin: 0;
  font-weight: 600;
}
header nav .nav-bottom .container .row .departments h3 .bi-list {
  font-size: 22px;
}
header nav .nav-bottom .container .row .departments .bi-chevron-down {
  font-size: 15px;
}
header nav .nav-bottom .container .row ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 39px;
}
header nav .nav-bottom .container .row ul .home {
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: baseline;
  gap: 6px;
}
header nav .nav-bottom .container .row ul .home:hover {
  color: #00a2c2;
}
header nav .nav-bottom .container .row ul .home .bi-chevron-down {
  font-size: 12px;
}
header nav .nav-bottom .container .row ul .shop {
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: baseline;
  gap: 6px;
}
header nav .nav-bottom .container .row ul .shop:hover {
  color: #00a2c2;
}
header nav .nav-bottom .container .row ul .shop .bi-chevron-down {
  font-size: 12px;
}
header nav .nav-bottom .container .row ul .product {
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: baseline;
  gap: 6px;
}
header nav .nav-bottom .container .row ul .product:hover {
  color: #00a2c2;
}
header nav .nav-bottom .container .row ul .product .bi-chevron-down {
  font-size: 12px;
}
header nav .nav-bottom .container .row ul .blog {
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: baseline;
  gap: 6px;
}
header nav .nav-bottom .container .row ul .blog:hover {
  color: #00a2c2;
}
header nav .nav-bottom .container .row ul .blog .bi-chevron-down {
  font-size: 12px;
}
header nav .nav-bottom .container .row ul .page {
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: baseline;
  gap: 6px;
}
header nav .nav-bottom .container .row ul .page:hover {
  color: #00a2c2;
}
header nav .nav-bottom .container .row ul .page .bi-chevron-down {
  font-size: 12px;
}
header nav .nav-bottom .container .row ul .buy {
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
header nav .nav-bottom .container .row ul .buy:hover {
  color: #00a2c2;
}
header nav .nav-bottom .container .row .recently {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
header nav .nav-bottom .container .row .recently:hover .bi-clock {
  color: #00a2c2;
}
header nav .nav-bottom .container .row .recently:hover h4 {
  color: #00a2c2;
}
header nav .nav-bottom .container .row .recently .bi-clock {
  color: #111111;
  font-size: 17px;
  transition: 0.3s ease-in-out;
}
header nav .nav-bottom .container .row .recently h4 {
  color: #111111;
  font-size: 15px;
  font-weight: 400;
  transition: 0.3s ease-in-out;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.carousel-inner .carousel-item {
  height: 440px;
}
.carousel-inner .carousel-item img {
  height: 100%;
}
.carousel-inner .carousel-item .carousel-text {
  position: absolute;
  z-index: 9999;
  top: 6rem;
  left: 9rem;
}
.carousel-inner .carousel-item .carousel-text p {
  color: white;
  font-size: 41px;
  margin: 0;
  font-weight: 600;
}
.carousel-inner .carousel-item .carousel-text h2 {
  color: white;
  font-size: 41px;
  margin: 0;
  font-weight: 600;
}
.carousel-inner .carousel-item .carousel-text h4 {
  color: white;
  font-size: 15px;
  margin: 0;
  padding-top: 11px;
}
.carousel-inner .carousel-item .carousel-text h3 {
  color: black;
  font-size: 14px;
  background-color: #fff;
  display: inline-block;
  padding: 18px 61px;
  border-radius: 15px;
  margin-top: 3rem;
}

.carousel:hover .carousel-control-prev {
  display: block;
  transition: 0.5s ease-in-out;
}
.carousel:hover .carousel-control-next {
  display: block;
  transition: 0.5s ease-in-out;
}
.carousel .carousel-control-prev {
  position: absolute;
  left: -50px;
  display: none;
  transition: 0.5s ease-in-out;
}
.carousel .carousel-control-prev .carousel-control-prev-icon {
  background-color: black;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-size: 40% 40%;
}
.carousel .carousel-control-next {
  position: absolute;
  display: none;
  right: -50px;
}
.carousel .carousel-control-next .carousel-control-next-icon {
  background-color: black;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-size: 40% 40%;
}/*# sourceMappingURL=style.css.map */